@import './variables.scss';

* {
  transition: all 0.1s linear;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
}

.randomize {
  cursor: pointer;
  margin: 20px 10px;
  transition: all 0.1s linear;
  width: 100px;

  &.is-active {
    background: $grey;
    color: $white;
  }

  &:hover {
    background: $grey;
  }

  &:focus {
    outline: 0;
  }
}
