/* colors */
* {
  transition: all 0.1s linear; }

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 95vh; }
