/* colors */
.cube-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 800px;
  transform-style: preserve-3d;
  perspective-origin: center center; }

.cube-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  transform-style: preserve-3d;
  z-index: -100; }

.cube {
  position: absolute;
  height: 100px;
  width: 100px;
  transform-style: preserve-3d;
  perspective-origin: center center;
  transition: all 0.2s ease-in-out; }

.cube figure {
  margin: 0;
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  border: 2px solid black;
  text-align: center;
  box-sizing: border-box;
  z-index: 1000; }

.cube .back {
  transform: translateZ(-50px);
  background: green; }

.cube .right {
  transform: rotateY(-270deg) translateX(50px);
  transform-origin: top right;
  background: red; }

.cube .left {
  transform: rotateY(270deg) translateX(-50px);
  transform-origin: center left;
  background: orange; }

.cube .top {
  transform: rotateX(-90deg) translateY(-50px);
  transform-origin: top center;
  background: white; }

.cube .bottom {
  transform: rotateX(90deg) translateY(50px);
  transform-origin: bottom center;
  background: yellow; }

.cube .front {
  transform: translateZ(50px);
  background: blue; }
