/* colors */
$white: #fff;
$black: #000;
$grey: #7c8394;
$orange: orange;
$cube-top-color: white;
$cube-bottom-color: yellow;
$cube-left-color: orange;
$cube-right-color: red;
$cube-front-color: blue;
$cube-back-color: green;